@import "./constants/styles/colors";
@import "./constants/styles/fonts/futura";

@import "./components/Landing/styles";

.link {
  text-decoration: none;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}