@import "./constants/styles/colors";
@import "./constants/styles/fonts/futura";

@import "./components/Landing/styles";
@import "./components/About/styles";
@import "./components/LiveDates/styles";
@import "./components/common/WIP/styles";

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;

    .link {
        text-decoration: none;
    }

    .page {
        position: relative;
        display: flex;
    }
}